streamlit>=1.22.0
numpy>=1.24.0
seaborn
matplotlib
scipy
yahoo_fin
pandas>=1.5.0
plotly
statsmodels
pandas-datareader
setuptools
arch
gymnasium
stable_baselines3
scikit-learn
yfinance>=0.2.54
PyPortfolioOpt==1.5.1
cvxpy
pot
gudhi
requests>=2.0.0
